@font-face {
    font-family: Calligraffiti;
    src: url(Calligraffiti.ttf);
}

@font-face {
    font-family: Destencil;
    src: url(DESTENCI.ttf);
}

@font-face {
    font-family: DigitalDream;
    src: url(DIGITALDREAM.ttf);
}

body {
    font-family: Arial, Verdana, Sans-Serif;
    font-size: 12px;
}
